Package: bzdev-wallpapers
Version: 1.0.0
Architecture: all
Provides: ubuntu-wallpapers
Maintainer: Bill Zaumen <bill.zaumen+bzdev@gmail.com>
Section: x11
Priority: optional
Description: Wallpaper images.
 A small collection of wallpapers based on the space-filling Hilbert
 curve.
